<div id="filters">
    <span>Filter by:</span>
    <form>
        <input type="radio" name="most" value="MostPopular">Most populiar<br>
        <input type="radio" name="most" value="New">New<br>
        <input type="radio" name="most" value="Most">Most...<br>
        <input type="radio" name="most" value="bla">bla bla bla<br>
    </form>
    <form>
        <input type="checkbox" name="most" value="MostPopular">Most populiar<br>
        <input type="checkbox" name="most" value="MostPopular">Most populiar<br>
        <input type="checkbox" name="most" value="MostPopular">Most populiar<br>
    </form>
</div>

<div ng-app='AngularApp' ng-controller='ProjectsController' id="projectsContainer">
    <div infinite-scroll='projects.nextPage()' infinite-scroll-disabled='projects.busy' infinite-scroll-distance='1'>
        <div class="shortProject" ng-repeat='item in projects.items'>
            <img src="{{item.ProjectTypeIconId}}" />
            <h2>{{item.ProjectName}}</h2>
            <span class='short'>{{item.ShortPtojectDescription}}</span>
            <div class="amounts">
                <div class="gathered">{{item.AmountGathered}}</div>/
                <div class="total">{{item.AmountTotal}}</div>
            </div>
            <a href="/#/Donation/{{item.Id}}">Donate</a>
            <a href="/#/ProjectDetails/{{item.Id}}">more</a>
            <div style='clear: both;'></div>
        </div>
        <div ng-show='projects.busy'>Loading data...</div>
    </div>
</div>