<div id="filters">
    <span>Filter by:</span>
    <form>
        <input type="radio" name="most" value="MostPopular">Most populiar<br>
        <input type="radio" name="most" value="New">New<br>
        <input type="radio" name="most" value="Most">Most...<br>
        <input type="radio" name="most" value="bla">bla bla bla<br>
    </form>
    <form>
        <input type="checkbox" name="most" value="MostPopular">Most populiar<br>
        <input type="checkbox" name="most" value="MostPopular">Most populiar<br>
        <input type="checkbox" name="most" value="MostPopular">Most populiar<br>
    </form>
</div>

@*
<div ng-app='AngularApp' ng-controller='StrollController' id="projectsContainer">
    <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <div ng-repeat='image in images'></div>
        <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
    </div>
</div>*@

<div ng-app='AngularApp' ng-controller='StrollController' id="projectsContainer">
    <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
        <div class="shortProject" ng-repeat='item in reddit.items'>
            <img src="{{item.ProjectTypeIconId}}" />
            <h2>{{item.ProjectName}}</h2>
            <span class='short'>{{item.ShortPtojectDescription}}</span>
            <div class="amounts">
                <div class="gathered">{{item.AmountGathered}}</div>/
                <div class="total">{{item.AmountTotal}}</div>
            </div>
            <a href="/#/Donation/{{item.Id}}">Donate</a>
            <a href="/#/ProjectDetails/{{item.Id}}">more</a>
            <div style='clear: both;'></div>
        </div>
        <div ng-show='reddit.busy'>Loading data...</div>
    </div>
</div>