<fieldset>
    <div>
        Project Name
    </div>
    <div>
        <input type="text" ng-model="projectNameString">
    </div>
    <div>
        Main purpose
    </div>
    <div>
        <input type="text" ng-model="mainPurposeString">
    </div>
    <div>
        Additional purpose
    </div>
    <div>
        <textarea ng-model="additionalPurposeString" name="string"></textarea>
    </div>
</fieldset>


