<div ng-controller="StartController">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a id="link-1" href ng-click="selection = '_comonData'">link 1</a></li>
        <li role="presentation"><a id="link-2" href ng-click="selection = '_platforms'">link 2</a></li>
        <li role="presentation"><a id="link-3" href ng-click="selection = '_shortDescription'">link 3</a></li>
    </ul>
    <ul class="nav nav-tabs"
        ng-switch on="selection">
        <li class="animate-switch" ng-switch-when="_comonData">@Html.Action("_comonData")</li>
        <li class="animate-switch" ng-switch-when="_platforms">@Html.Action("_platforms")</li>
        <li class="animate-switch" ng-switch-when="_shortDescription">@Html.Action("_shortDescription")</li>
        <li class="animate-switch" ng- ng-switch-default>default</li>
</ul>
    </div>
